<div>
    <div
      class="fbzKiw"
      style="
        background: linear-gradient(
          90deg,
          rgb(140, 82, 255) 0%,
          rgb(92, 225, 230) 100%
        );
      "
    >
      <div class="form">
        <div class="mb3">
          <div class="titulo">
            <h1 class="title">MIND BALANCE</h1>
          </div>
          <input class="id" placeholder="IDENTIFICACION" />
          <input type="password" class="password" placeholder="CONTRASEÑA" />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              checked
            />
            <label class="form-check-label" for="form2Example31">
              RECORDAR CONTRASEÑA
            </label>
          </div>
          <div class="boton">
            <button type="button" class="btn btn-primary btn-block mb-4">
              Iniciar sesión
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
