<div class="col-menu">
  <div class="nav-absolute">
    <div class="menu-nav">
      <img
        class="icon-menu"
        src="https://media-public.canva.com/3qtvw/MAFUnl3qtvw/1/t.png"
        alt=""
      />
    </div>
    <div class="title-menu">
      <h1 class="title">MIND BALANCE</h1>
      <div class="menu">
        <label for="btn-menu" class="btn-menu">
          <img
            class="img-menu"
            src="https://cdn-icons-png.flaticon.com/128/2976/2976215.png"
          />
        </label>
      </div>
    </div>
    <div class="img-nav">
      <div>
        <a
          type="button"
          id="login-logout"
          data-bs-toggle="dropdown"
          data-bs-auto-close="true"
          aria-expanded="false"
        >
          <img
            class="icon"
            src="https://cdn-icons-png.flaticon.com/128/3759/3759331.png"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="login-logout">
          <div class="logout">
            <img
              class="icon"
              src="https://cdn-icons-png.flaticon.com/128/152/152534.png"
            />
          </div>
        </ul>
      </div>
      <div>
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/128/4991/4991422.png"
        />
      </div>
      <div>
        <img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/128/7764/7764538.png"
        />
      </div>
    </div>
  </div>
</div>
<div class="side-menu" style>
  <input type="checkbox" id="btn-menu" />
  <div class="container-menu">
    <div class="cont-menu">
      <div class="cont-user">
        <div class="menu-img">
          <img
            class="user-menu"
            src="https://cdn-icons-png.flaticon.com/128/3759/3759331.png"
          />
        </div>
        <div class="menu-estado">
          <label>
            <h3>Administrador</h3>
          </label>
          <br />
          <label> En linea</label>
        </div>
      </div>
      <nav>
        <a href="">Inicio</a>
      </nav>
      <div class="menu-title">
        <label><h3>General</h3></label>
      </div>
      <nav>
        <a href="">Grados</a>
        <a href="">Usuarios</a>
        <a href="">Gestionar Usuarios</a>
      </nav>
      <div class="menu-title">
        <label><h4>Modulo dé seguimiento</h4></label>
      </div>
      <nav>
        <a href="">Comportamientos</a>
        <a href="">Generar reportes</a>
        <a href="">Tipo de comportamiento</a>
        <a href="">Actividades</a>
        <a href="">Seguimiento</a>
      </nav>
    </div>
  </div>
</div>
