.contenedor {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.fbzKiw {
    bottom: 0;
    left: 0;
    height: 87.8vh;
    right: 0;
    top: 0;
}

.nada {
    top: 0;
    height: 100px;
}

.cabecera {
    width: 900px;
    top: 0;
    padding-top: 30px;
    margin-left: 200px;
    display: block;
}

.title-cabe {
    padding-top: 10px;
    display: inline-flex;
    width: 200px;
}

.title {
    width: 200px;
    font-weight: bold;
    color: #021143;
}

.cabecera-title {
    width: 300px;
}

.button-agg {
    display: inline-flex;
    width: 200px;
    height: 40px;
    margin-left: 530px;
    padding-top: 6px;
}

.agregar {
    width: 150px;
    height: 50px;
    font-weight: bold;
    background: white;
    border: 0;
}

.cuerpo{
    margin-left: 200px;
    width: 880px;
    height: auto;
    background: white;
    margin-top: 40px;
}

.num {
    width: 45px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    border: 2px;
    border-style: solid;
    border-color: black;
    align-content: center;
}

.num label{
    align-items: center;
    padding-left: 15px;
    padding-top: 8px;
}

.cuerpo-cabe {
    top: 10px;
    display: flex;
}

.des {
    width: 85px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.des label {
    color: #021143;
}

.busqueda {
    margin-top: 10px;
    margin-left: 395px;
}

.busqueda label{
    color: #021143;
    font-size: x-large;
    margin-right: 10px;
    font-weight: bold;
}

.busqueda input {
    border: 2px;
    border-style: solid;
    height: 35px;
    top:0;
}

.table {
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 100px;
    margin-bottom: 60px;
}

table th {
    border: 1px solid black;
    padding-left: 5px;
}

table {
    border-collapse: collapse;
    width: 820px;
    font-size:medium;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

.form {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 400px;
}

.form div {
    padding: 10px;
}

.id, .nombre, .contacto, .correo, .acudiente{
    width: 400px;
    text-align: left;
}

.id input, .nombre input, .contacto input, .correo input, .acudiente input{
    border-radius: 15px;
    border: 1px;
    border-style: solid;
    padding: 7px;
    padding-left: 10px;
}

::placeholder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-title {
    font-weight: bold;
    color: #021143;
}

.btn-primary {
    background: #021143;
    border-color: #021143;
    border: 1px;
    border-style: solid;
}

.acciones {
    display: inline-flex;
    margin-left: 10px;
}

.acciones-editar {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.accciones-delete {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.icon-delete {
    width: 20px;
    height: 20px;
}

.icon-editar {
    width: 20px;
    height: 20px;
}